<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <script src="https://kit.fontawesome.com/06bad13763.js" crossorigin="anonymous"></script>

  <title>Document</title>
</head>
<body>




  <!--The below code is of the header section-->
  <div id="header">
    <div class="container">
      <nav>
        <h5 class="ahsan">ahsan.</h5>
         <ul id="sidemenu">
              <li><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#pro-skills">Portfolio</a></li>
              <li><a href="#contact">Contact</a></li>
              <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
         </ul>
         <i class="fa-solid fa-bars" onclick="openmenu()"></i>
      </nav>
      <div class="header-text">
        <p>Website Internship Task#01</p>
        <h1>Hi, Welcome to<span>CRUD</span><br> API Website!</h1>
      </div>
    </div>
  </div>



<!--CRUD Operations-->

<div id="pro_education">
  <div class="container">
    <h1 class="education">CRUD Operations:</h1>
    <div class="education-list">
           <div>
            <h5>Add Operation</h5>
            <h3>Add User</h3>
            <p>If you want to add a new user, so press the below button:</p>
            <button><a href="add_user.html">Add User</a></button>
           </div>

           <div>
            <h5>Remove Operation</h5>
            <h3>Remove User</h3>
            <p>If you want to delete a user, so press the below button:</p>
            <button><a href="del_user.html">Delete User</a></button>

           </div>

           <div>
            <h5>Update Operation</h5>
            <h3>Update User</h3>
            <p>If you want to update a user, so press the below button:</p>
            <button><a href="update_user_find.html">Update User</a></button>
           </div>

           <div>
            <h5>View Operation</h5>
            <h3>View User</h3>
            <p>If you want to view a user, so press the below button:</p>
            <button action="/all_users"><a href="all_users.html">Update User</a></button>
           </div>
    </div>

  </div>
</div>





<!--form-->
<!--Contact us-->
<div id="contact">
  <div class="container">
    <div class="row">
      <div class="contact-left">
          <h1 class="sub-title">Contact Me</h1>
          <p>ahsanasim252@gmail.com</p>
          <p>0333-8386546</p>
          
    </div>
    
    </div>
  </div>

  <div class="cpyright">
    <p>copyright @ ahsan. Made by Ahsan</p>
  </div>
 </div>














<script>
  var sidemenu=document.getElementById("sidemenu");


  function openmenu(){
    sidemenu.style.right="0";
  }

  function closemenu(){
    sidemenu.style.right="-200px";
  }
</script>




  
</body>
</html>